/**
* Option
**/
.option-popup {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.option-popup div {
    width: 100%; height: 100%;
}
.option-popup contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/menu/popup/popup.png");
    background-size: 100% 100%;
}

.option-popup content {
    display: block; position: absolute;
    font-family: "Morgan";
    width: 73.5%; height: 75%;
    top: 13%; left: 12.5%;
}

.option-popup close {
    width: 2.5%; height: 4%;
    top: 15%; left: 82.2%;
}
.option-popup fleches {
    position: absolute; display: block;
    width: 58%; height: 38%;
    /**top: 13%; **/
    top: 8%;
    left: 18%;
    background-image: url("../img/menu/popup/option.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.option-popup text {
    display: block; position: absolute;
    width: auto; height: auto;
    text-align: center;
    font-family: "Morgan"; font-weight: bold;
    word-spacing: 5px;
    color: black;
}

.option-popup son#music {
    width: 15%; height: 26%;
    left: 80%; top: 50%;
}
.option-popup son#music text {
    left: 141%; top: -66%;
    font-size: 3.5vh;
}
.option-popup son#sound {
    width: 15%; height: 26%;
    left: 62%; top: 10%;
}
.option-popup son#sound text {
    left: -96%; top: -90%;
    font-size: 3.5vh;
}

.option-popup flags {
    position: absolute; display: block;
    width: 106%; height: 80%;
    top: 93%; left: 2%;
}
.option-popup flags flag {
    position: absolute; display: block;
    background-image: url("../img/menu/boutons/flags.png");
    background-size: 200% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.7;
    transition: all 1000ms;
}
.option-popup flags flag.selected {
    opacity: 1;
}
.option-popup flags text {
    left: -19%; top: -38%;
    font-size: 4.5vh;
}
.option-popup flags flag#fr {
    background-position: 100% 0%;
    width: 39%; height: 83%;
    left: 0%; top: 6%;
    transform: rotate(-11deg);
}
.option-popup flags flag#fr:not(.selected):hover {
    transform: rotate(-20deg);
}

.option-popup flags flag#en {
    background-position: 0% 0%;
    width: 39%; height: 83%;
    left: 60%; top: 13%;
    transform: rotate(14deg);
}
.option-popup flags flag#en:not(.selected):hover {
    transform: rotate(23deg);
}

.option-popup selections {
    position: absolute; display: block;
    width: 88%; height: 19%;
    top: 77%; left: 6%;
    text-align: center;
    font-family: "Morgan"; font-size: 3.5vh;
    word-spacing: 5px;
    color: black;
}
.option-popup arme {
    position: absolute; display: block;
    width: 100%; height: 27%;
    top: 0%; left: 3%;
    text-align: left;

    cursor: pointer;
}
.option-popup selections element {
    display: block; position: relative;
    width: 100%; height: 100%;
}
.option-popup selections case {
    width: 5%;
}