/**
* Traductions
**/
.traductions-popup {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.traductions-popup div {
    width: 100%; height: 100%;
}
.traductions-popup contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/menu/popup/traductions.jpg");
    background-size: 100% 100%;
}

.traductions-popup content {
    display: block; position: absolute;
    font-family: "Morgan";
}

.traductions-popup content {
    width: 96.8%; height: 75%;
    top: 13%; left: 3%;
}
.traductions-popup wrapper {
    position: absolute; display: block;
    width: 100%; height: 96%;
    left: 0; top: 5%;
    overflow: hidden;
}

/**
* Partie fichiers
**/
.traductions-popup content#fichiers close {
    background-image: url("../img/menu/boutons/close2.png");
    width: 6%; height: 11%;
    top: -17.3%; left: 93.3%;
}
.traductions-popup content#fichiers files {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    overflow-y: auto;
}
.traductions-popup content#fichiers files file {
    position: relative;
    display: inline-block;
    width: 33%;
    font-size: 3.5vh;
    cursor: pointer;
}
.traductions-popup content#fichiers files file:hover {
    text-decoration: underline;
}


/**
* Partie texte
**/
.traductions-popup content#textes close {
    background-image: url("../img/menu/boutons/retour.png");
    width: 6%; height: 10%;
    top: -17%; left: 94%;
}
.traductions-popup content#textes langages {
    display: none; position: absolute;
    width: 13%; height: 50%;
    z-index: 2;
}
.traductions-popup content#textes langage {
    display: block; position: absolute;
    border: 1px solid; background-color: #ddcaaf;
    cursor: pointer;
}
.traductions-popup content#textes langage.selected {
    width: 11.5%; height: 15%;
}
.traductions-popup content#textes langages langage {
    position: relative;
    width: 100%; height: 33.2%;
    background-color: #bda789;
}
.traductions-popup content#textes langages langage:hover {
    background-color: #ddcaaf;
}

.traductions-popup content#textes langage picture {
    display: inline-block; position: absolute;
    left: 0; top: 0;
    width: 85%; height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/menu/boutons/flags.png);
    background-size: 300% 100%;
}
.traductions-popup content#textes langage[name="en"] picture {
    background-position: 0% 0%;
}
.traductions-popup content#textes langage[name="fr"] picture {
    background-position: 50% 0%;
}
.traductions-popup content#textes langage[name="eo"] picture {
    background-position: 100% 0%;
}
.traductions-popup content#textes langage fleche {
    display: inline-block; position: absolute;
    width: 15%; height: 20%;
    right: 0%; top: 43%;
}

.traductions-popup content#textes langage#source {
    top: -16%; left: 52%;
}
.traductions-popup content#textes langage#cible {
    top: -16%; left: 68.3%;
}

.traductions-popup content#textes fromto {
    display: block; position: absolute;
    width: 4%; height: 5%;
    top: -10%; left: 64%;
    background-repeat: no-repeat;
    background-image: url("../img/menu/boutons/fleche.png");
    background-size: 100% 100%;
}


/**
* Ensemble des textes
**/
.traductions-popup content#textes textes {
    position: absolute; display: block;
    width: 100%; height: 96%;
    top: 2%; left: 0;
    overflow-y: auto;
}

.traductions-popup content#textes textes text {
    position: relative; display: block;
    width: 92%; height: auto;
    left: 7%; top: 0;
    text-align: left;
    font-family: "Lucida"; font-size: 2.7vh;
    font-weight: bold; color: black;
    text-rendering: optimizeSpeed;
    padding-bottom: 1.2%;
}

.traductions-popup content#textes textes text input {
    display: inline-block;
    width : 50%;
    background-color: #ddcaaf;
}
.traductions-popup content#textes textes text textarea {
    display: block; resize: none;
    width : 98% !important; height: auto;
    background-color: #ddcaaf;
}

.traductions-popup content#textes textes text.check span.verify {
    display: inline-block; position: absolute;
    left: -8%; top: -21%;
    width: 7%; height: 90%;
    background-repeat: no-repeat;
    background-image: url("../img/menu/boutons/valider.png");
    background-size: 100% 100%;
    pointer-events: none;
}
.traductions-popup content#textes textes text.check span.delete {
    display: inline-block; position: absolute;
    left: -4.5%; top: 9%;
    width: 4%; height: 65%;
    background-repeat: no-repeat;
    background-image: url("../img/menu/boutons/abandon.png");
    background-size: 100% 100%;
    cursor: pointer;
}

/**
* Bouton d'envoi
**/
.traductions-popup content#textes boutons {
    position: absolute; display: block;
    width: 38%; height: 13%;
    top: 103%; left: 36.2%;
    background-repeat: no-repeat;
    background-image: url("../img/menu/boutons/envoi.png");
    background-size: 100% 100%;
}
.traductions-popup content#textes boutons bouton {
    position: absolute; display: block;
    left: 10%; top: 8%;
    width: 100%; height: auto;
    font-family: "Luna"; font-size: 3.8vh;
    font-weight: bold; color: #5a0707;
    text-rendering: optimizeSpeed;
    cursor: pointer;
    transition: all 300ms;
}