/**
* Credits
**/
.credit-popup {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.credit-popup div {
    width: 100%; height: 100%;
}
.credit-popup contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/menu/popup/popup.png");
    background-size: 100% 100%;
}

.credit-popup content {
    display: block; position: absolute;
    font-family: "Morgan";
    width: 73.5%; height: 75%;
    top: 13%; left: 12.5%;
}

.credit-popup close {
    width: 2.5%; height: 4%;
    top: 15%; left: 82.2%;
}
.credit-popup wrapper {
    position: absolute; display: block;
    width: 92%; height: 96%;
    left: 4.5%; top: 3.2%;
    overflow: hidden;
}
.credit-popup background {
    position: absolute; display: block;
    width: 100%; height: 100%;
    left: 0%; top: 0%;
    background-image: url("../img/menu/popup/credit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.credit-popup textes {
    position: absolute; display: block;
    width: 57.5%; height: auto;
    top: 23.5%; left: 27%;
}

.credit-popup textes text {
    position: relative; display: block;
    width: auto; height: auto;
    text-align: center;
    font-family: "Morgan";
    font-size: 3vh;
    text-rendering: optimizeSpeed;
    word-spacing: 5px;
}
.credit-popup textes text.bloc {
    margin-bottom: 4%;
    color: black;
}
.credit-popup textes text.separator {
    padding-top: 5%;
    border-top: 3px double;
}
.credit-popup textes text.title {
    font-weight: bold;
}

.credit-popup textes text.clickable:hover {
    color: #2b2b6f;
}

.credit-popup textes text#samhain .title {
    font-size: 6vh;
    color: #331f0a;
}

.credit-popup reseaux {
    position: absolute; display: block;
    width: 26%; height: 9%;
    top: 88.5%; left: 1%;
}
.credit-popup reseaux reseau {
    position: absolute; display: block;
    background-image: url("../img/menu/boutons/reseaux.png");
    background-size: 300% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 1000ms;
}
.credit-popup reseaux reseau:hover {
    transform: scale(1.1);
}

.credit-popup reseaux reseau#instagram {
    background-position: 0% 0%;
    width: 33%; height: 97%;
    left: 60%; top: 23%;
}
.credit-popup reseaux reseau#kofi {
    background-position: 50% 0%;
    width: 33%; height: 97%;
    left: 35%; top: 23%;
}
.credit-popup reseaux reseau#twitter {
    background-position: 100% 0%;
    width: 33%; height: 97%;
    top: 0%; left: 1%;
}