html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0,0,0,0);
}
body * {
	background-color: rgba(0,0,0,0);
}
div {
    width: 100%; height: 100%;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
ul li {
	display: inline-block;
}
.page {
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.footer {
	position: absolute;
	width: 100vw;
	bottom: 0;
}
.h-center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.v-center {
	margin-top: 50vh;
    transform: translateY(-50%);
}
.clickable {
	cursor: pointer;
}
.interdit {
	cursor: not-allowed;
}
button:focus {outline:0;}

.text {
    font-family: serif;
    font-size : 4vh;
    max-width: 100%;
    word-wrap: break-word;
}
.text, .texte, texte, text, info, infoList, titre {
    cursor: default;
}
.underline {
	text-decoration: underline;
}
.stroke {
	text-decoration: line-through;
}
.app-container {
    position: absolute !important;
    left: 0px !important; top : 0px !important;
    width: 100% !important; height: 100% !important;
}
.preload {
	z-index: -5;
	position: absolute !important;
	left: 0px !important; top : 0px !important;
	width: 100% !important; height: 100% !important;
}
.d-block {
	display: block !important;
}
.flipH {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.innactive {
	pointer-events: none;
}

.reseaux {
	width: 100%; height: 19vh;
    margin-top: 0.5%;
}

.reseaux .texte{
    cursor: default;
    margin-bottom: 0.5%;
}

.reseau {
	display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 32%;
    margin-left: 0.5%; margin-right: 0.5%;
}

.reseau.facebook {
	width: 5%;
	background-image: url("../img/game/interface/bouton/facebook.png");
}
.reseau.instagram {
	width: 5%;
	background-image: url("../img/game/interface/bouton/instagram.png");
}
.reseau.kongregate {
	width: 5%;
	background-image: url("../img/game/interface/bouton/kongregate.png");
}
.reseau.twitter {
	width: 5%;
	background-image: url("../img/game/interface/bouton/twitter.png");
}
.reseau.wordpress {
	width: 5%;
	background-image: url("../img/game/interface/bouton/wordpress.png");
}

/**
* Ensemble des polices
**/
@font-face {
    font-family: "Priscilla";
    src: url("../fonts/priscilla.ttf");
}
@font-face {
    font-family: "Luna";
    src: url("../fonts/luna.ttf");
}
@font-face {
    font-family: "Morgan";
    src: url("../fonts/morgan.ttf");
}
@font-face {
    font-family: "Tangerine";
    src: url("../fonts/tangerine.ttf");
}
@font-face {
    font-family: "TangerineBold";
    src: url("../fonts/tangerine_bold.ttf");
}
@font-face {
    font-family: "Lucida";
    src: url("../fonts/lucida.ttf");
}

/**
* Ne pas selectionner le texte
**/
* {
    -moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/**
* Close button
**/
close {
    position: absolute; display: block;
    width: 2.5%; height: 4%;
    background-image: url("../img/menu/boutons/close.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
    transition: all 300ms;
}
close:hover {
    transform: scale(1.1);
}

/**
* Son
**/
son {
    position: absolute; display: block;
    background-image: url("../img/menu/boutons/son.png");
    background-size: 400% 100%;
    background-repeat: no-repeat;
}
son#music {
    background-position: 33.33% 100%;
    cursor: pointer;
}
son#music.mute {
    background-position: 0% 100%;
}
son#sound {
    background-position: 100% 100%;
    cursor: pointer;
}
son#sound.mute {
    background-position: 66.66% 100%;
}