/**
* Actions utilisés dans l'histoire et le combat
**/
actionsContainer {
	position: relative;
	display: inline-block;
	width: 100%; height: 24%;
}
actionsContainer actions {
	position: absolute;
	display: block;
	left: 0%; top: 0%;
	width: 100%; height: 100%;
	text-align: center;
}
actionsContainer action {
	cursor: pointer !important;
	position: relative;
	display: inline-block;
    width: 18%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transition: all 300ms;
}
actionsContainer action name {
    position: absolute;
    display: block;
    width: 66%; height: auto;
    left: 19%;

    text-align: center;

    color: #000000;
    font-size: 3.5vh;
    font-family: "Priscilla";
    font-weight: bold;
}
/**
* Specificité pour les ecarts de papier
**/
actionsContainer action[type="poing"] name {
    left: 16.6% !important;
}
actionsContainer action[type="bouleFeu"] name {
    left: 18% !important;
}

actionsContainer action.gauche:hover {
    transform: rotate(-16deg);
}
actionsContainer action.droite:hover {
    transform: rotate(16deg);
}

/**
* Specificité au combat
**/
.fight action {
    top: 20%;
}
.fight action.gauche[state="pending"] {
    top: -10% !important;
    transform: rotate(-16deg);
}
.fight action.droite[state="pending"] {
    top: -10% !important;
    transform: rotate(16deg);
}
.fight action[state] {
    top: 150%;
}

/**
* Etiquettes des actions
**/
actionsContainer action {
    background-image: url("../img/game/actions/dague.png");
}
actionsContainer action[type="poing"] {
    background-image: url("../img/game/actions/poing.png");
}
actionsContainer action[type="dague"] {
    background-image: url("../img/game/actions/dague.png");
}
actionsContainer action[type="bouleFeu"] {
    background-image: url("../img/game/actions/bouleFeu.png");
}
actionsContainer action[type="potionSante"] {
    background-image: url("../img/game/actions/potionSante.png");
}



/**
* Animation des actions sur les monstres
**/
.fight monster anim {
    display: none;
    position: absolute;
    left: 0%; top: 0%;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fight monster anim.poing {
    background-image: url("../img/game/actions/anim/poing.png");
}
.fight monster anim.venin {
    background-image: url("../img/game/actions/anim/venin.png");
}
.fight monster anim.croc {
    background-image: url("../img/game/actions/anim/croc.png");
}
.fight monster anim.dague {
    background-image: url("../img/game/actions/anim/dague.png");
}
.fight monster anim.epee {
    background-image: url("../img/game/actions/anim/epee.png");
}
.fight monster anim.baton {
    background-image: url("../img/game/actions/anim/baton.png");
}
.fight monster anim.bouleFeu {
    background-image: url("../img/game/actions/anim/bouleFeu.png");
}