/**
* Glossaire
**/
.glossaire {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.glossaire div {
    width: 100%; height: 100%;
}
.glossaire contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/game/interface/glossaire.png");
    background-size: 100% 100%;
}

.glossaire content {
    display: block; position: absolute;
    font-family: "Priscilla";
}

.glossaire content.liste {
    width: 36%; height: 70%;
    top: 13.5%; left: 12.5%;
    transform: rotate(-8deg);
}
.glossaire content.zoom {
    width: 36%; height: 74%;
    top: 12%; left: 52.5%;
    transform: rotate(7deg);
    overflow: hidden;
}
/**
* Zoom sur un element
**/
.glossaire .zoom retour {
    display: none; position: absolute;
    width: 10%; height: 7%;
    font-size: 3vh;
    text-align: center;
    border: 1px solid black;
    z-index: 10;
    top: -5%; left: -5%;
    cursor: pointer;
}
.glossaire .zoom retour:hover {
    text-decoration: underline;
}
.glossaire .zoom entete {
    display: block; position: relative;
    width: 100%; height: 10%;
    text-align: center;
}
.glossaire .zoom titre, .glossaire .zoom suffixe {
    display: inline-block; position: relative;
    width: auto; height: 100%;
}

.glossaire .zoom titre, .glossaire .zoom suffixe select {
    text-decoration: underline;
    font-size: 3.5vh;
    font-weight: bold;
    border: none;
    border-color: none;
}

.glossaire .zoom texte {
    display: block; position: relative;
    width: 100%; height: auto;
    text-align: justify;
    font-size: 3.5vh;
    overflow-y: auto;
    margin-bottom: 3%;
    border-bottom: 1px dashed black;
    padding-bottom: 3%;
}
.glossaire .zoom infos {
    display: block; position: relative;
    width: 100%; height: auto;
    font-size: 3.5vh;
    overflow-y: auto;
    text-align: left;
    padding-bottom: 0.5%;
}
.glossaire .zoom info {
    display: inline-block; position: relative;
    width: 50%; height: auto;
    text-align: left;
    vertical-align: top;
}
.glossaire .zoom info.large {
    width: 100%;
}
.glossaire .zoom infoList {
    display: inline-block; position: relative;
    width: 100%; height: auto;
    text-align: left;
}

.glossaire .zoom span {
    cursor: pointer;
}
.glossaire .zoom span:hover {
    text-decoration: underline;
}

/**
* Liste des elements
**/
.glossaire .liste alphabet {
    display: block; position: relative;
    width: 100%; height: auto;
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
}
.glossaire .liste alphabet letter {
    display: inline-block; position: relative;
    width: 11%; height: auto;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin: 0.25%;
}
.glossaire .liste alphabet letter.selected {
    background-color: red;
}
.glossaire .liste alphabet letter:hover {
    text-decoration: underline;
}

.glossaire .liste propositions {
    display: block; position: relative;
    width: 100%; height: auto;
    text-align: left;
    font-size: 3.5vh;
    margin-top: 12%;
}
.glossaire .liste proposition {
    display: inline-block; position: relative;
    width: auto; height: auto;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    margin: 0.25%;
    padding: 1%;
}
.glossaire .liste proposition:hover {
    text-decoration: underline;
}