
/**
* Histoire
**/
.histoire {
    display : block;
    position: absolute;
    width: 100%; height: 82%;
    left: 0; top: 18%;
}
texte, .histoire action {
    cursor: default;
    text-align: center;
}

storyContainer {
	position: relative;
	display: inline-block;
	left: 14%;
	width: 70%; height: 76%;
}
storyContainer textes {
    color: #DDDDDD;
	position: absolute;
	display: block;
	width: 96%; height: 71%;
	left: 2%; top: 15%;
}
storyContainer texte {
	position: relative;
	display: block;
	font-size: 2.5vh;
	font-family: monospace;
}
storyContainer texte span {
	text-decoration: underline;
    cursor: help;
}
storyContainer texte span:hover {
    color: #BBBBFF;
}