/**
* Glossaire
**/
.glossaire {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.glossaire close {
    top: 16%; left: 90.4%;
}
.glossaire contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/game/interface/glossaire.png");
    background-size: 100% 100%;
}

.glossaire div {
    display: block; position: absolute;
    left: 0; top: 0;
}

.glossaire page {
    display: block; position: absolute;
    font-family: "Tangerine";
}

.glossaire page.gauche {
    width: 36%; height: 70%;
    top: 13.5%; left: 12.5%;
    transform: rotate(-8deg);
}
.glossaire page.droite {
    width: 36%; height: 71.5%;
    top: 14%; left: 52.5%;
    transform: rotate(7deg);
    overflow: hidden;
}

/**
* Marqueurs
**/
.glossaire .alphabet {
    font-family: "Morgan";
}
.glossaire .alphabet {
    display: block; position: absolute;
    left: 1%; top: 19%;
    width: 9%; height: 65%;
    transform: rotate(-3deg);
    z-index: 1;
}
.glossaire marqueurs {
    display: block; position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
.glossaire marqueurs marqueur {
    display: block; position: relative;
    width: 100%; height: 16%;
    background-repeat: no-repeat;
    background-image: url("../img/game/interface/bouton/marqueurs.png");
    background-size: 300% 200%;
    cursor: pointer;
}
.glossaire marqueurs marqueur texte {
    position: relative; display: block;
    top: 29%;
    font-size: 3vh; font-weight: bold;
    color: black;
    cursor: pointer;
}

.glossaire marqueurs marqueur[id="0"] {
    background-position: 0% 100%;
    left: 1%; top: -1%;
    transform: rotate(5deg);
}
.glossaire marqueurs marqueur[id="1"] {
    background-position: 0% 0%;
    left: 3%; top: -1%;
    transform: rotate(5deg);
}
.glossaire marqueurs marqueur[id="2"] {
    background-position: 50% 100%;
    left: 3%; top: -1%;
    transform: rotate(5deg);
}
.glossaire marqueurs marqueur[id="3"] {
    background-position: 50% 0%;
    left: -3%; top: -0.5%;
    transform: rotate(4deg);
}
.glossaire marqueurs marqueur[id="3"] texte {
    left: 2.5%;
}
.glossaire marqueurs marqueur[id="4"] {
    background-position: 100% 0%;
    left: -0.5%; top: -1%;
    transform: rotate(5deg);
}
.glossaire marqueurs marqueur[id="5"] {
    background-position: 100% 100%;
    left: 7%; top: -0.5%;
    transform: rotate(2deg);
}

/**
* Zoom sur un element
**/
.glossaire .description {
    color: black;
}
.glossaire .description entete {
    display: block; position: relative;
    width: 100%; height: 10%;
    text-align: center;
    font-size: 6vh; font-weight: bold;
}
.glossaire .description titre, .glossaire .description suffixe#selected {
    display: inline-block; position: relative;
    width: auto; height: 100%;
    text-decoration: underline;
}

.glossaire .description suffixes {
    position: absolute; display: block;
    top: 11%;
    width: 48%; height: 90%;
    text-align: center;
    font-size: 6vh; font-weight: bold;
    overflow-y: auto;
    background-color: #b0936e;
    border: 2px solid;
}
.glossaire .description suffixes suffixe {
    display: block;
}
.glossaire .description suffixes suffixe:hover {
    background-color: #dac7ac;
}
.glossaire .description fleche {
    position: relative; display: inline-block;
    font-size: 2vh;
}

.glossaire .description suffixe, .glossaire .description fleche {
    cursor: pointer;
}

.glossaire .description texte {
    display: block; position: relative;
    width: 100%; height: 90%;
    text-align: initial; text-indent: 5%;
    font-family: "TangerineBold"; font-size: 4.7vh;
    padding-top: 4%;
    padding-left: 3%; padding-right: 3%;
    overflow-y: auto;
}
.glossaire .description infos {
    display: block; position: relative;
    width: 100%; height: auto;
    text-align: left; font-size: 4.7vh;
    padding-top: 6%; padding-left: 3%;
    font-family: "TangerineBold";
}
.glossaire .description infos b {
    font-family: "Tangerine";
}
.glossaire .description info {
    display: inline-block; position: relative;
    width: 50%; height: auto;
    text-align: left;
    vertical-align: top;
}
.glossaire .description info.large {
    width: 100%;
}
.glossaire .description infoList {
    display: inline-block; position: relative;
    width: 100%; height: auto;
    text-align: left;
}

.glossaire .description span {
    cursor: pointer;
}
.glossaire .description span:hover {
    text-decoration: underline;
}

/**
* Liste des elements
**/
.glossaire .liste propositions {
    display: block; position: relative;
    width: 100%; height: auto;
    text-align: left;
    font-size: 5vh; font-weight: bold;
}
.glossaire .liste proposition {
    display: block; position: relative;
    width: auto; height: auto;
    text-align: center;
    cursor: pointer;
}
.glossaire .liste proposition:hover {
    text-decoration: underline;
}