/**
* Popup Erase New Game
**/
.popup.traduction-error contour, .popup.traduction-success contour {
    position: absolute;
    width: 25%; height: 30%;
    left: 35%; top: 30%;
    background-image: url("../img/menu/popup/newgame.png");
}
.popup.traduction-error content, .popup.traduction-success content {
    width: 83%; height: 70%;
    top: 16%; left: 11%;
    transform: rotate(-2deg);
}
.popup.traduction-error text, .popup.traduction-success text {
    font-size: 2.5vh;
}
.popup.traduction-error text.title, .popup.traduction-success text.title {
    margin-bottom: 2%;
}
.popup.traduction-error text.title > text:first-child, .popup.traduction-success text.title > text:first-child {
    margin-bottom: 2%;
}