
/**
* UI
**/
.ui {
    display : block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 18%;
}
.ui montant {
    position: absolute; display: block;
    cursor: default;
    text-align: justify;
}

/**
* fioles
**/
fiole {
	position: absolute;
	display: block;
}
fiole > picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 1100% 100%;
}
fiole > picture[step="0"] {background-position: 100% 0%;}
fiole > picture[step="1"] {background-position: 90% 0%;}
fiole > picture[step="2"] {background-position: 80% 0%;}
fiole > picture[step="3"] {background-position: 70% 0%;}
fiole > picture[step="4"] {background-position: 60% 0%;}
fiole > picture[step="5"] {background-position: 50% 0%;}
fiole > picture[step="6"] {background-position: 40% 0%;}
fiole > picture[step="7"] {background-position: 30% 0%;}
fiole > picture[step="8"] {background-position: 20% 0%;}
fiole > picture[step="9"] {background-position: 10% 0%;}
fiole > picture[step="10"] {background-position: 0% 0%;}

fiole montant {
    color: #DDDDDD;
    left: 16%; top: 53%;
    font-size: 1.5vh;
    font-family: "Lucida";
}

fiole.life {
	top: 12%; left: 1.8%;
	width: 13.4%; height: 100%;
}
fiole.life > picture {
    background-image: url("../img/game/interface/ui/life/normal.png");
}
fiole.life[debuff="poison"] > picture {
    background-image: url("../img/game/interface/ui/life/poison.png");
}
fiole.life[debuff="feu"] > picture {
    background-image: url("../img/game/interface/ui/life/feu.png");
}
fiole.life[debuff="saignement"] > picture {
    background-image: url("../img/game/interface/ui/life/saignement.png");
}
fiole.life montant {
    transform: rotate(-16deg);
}
fiole.life montant[digits="3"] {
    left: 10.3%; top: 12%;
}
fiole.life montant[digits="2"] {
    left: 13%; top: 11%;
}
fiole.life montant[digits="1"] {
    left: 16%; top: 11%;
}

fiole.mana {
	top: 19%; left: 10.6%;
	width: 16%; height: 100%;
}
fiole.mana > picture {
    background-image: url("../img/game/interface/ui/mana.png");
}
fiole.mana montant {
    transform: rotate(19deg);
}
fiole.mana montant[digits="3"] {
    left: 47.5%; top: 13%;
}
fiole.mana montant[digits="2"] {
    left: 50%; top: 13%;
}
fiole.mana montant[digits="1"] {
    left: 52%; top: 13%;
}

/**
* Argent
**/
gold {
	position: absolute;
	display: block;
	width: 27%; height: 137%;
	top: 0%; right: 0%;
}
gold > picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 100% 900%;
    background-image: url("../img/game/interface/ui/bourse.png");
}
gold montant {
    color: #DDDDDD;
    font-size: 1.7vh;
    font-family: 'Lucida';
}
gold montant[digits="4"] {
    left: 51%; top: 45.5%;
    font-weight: bold;
}
gold montant[digits="3"] {
    left: 53%; top: 45.5%;
}
gold montant[digits="2"] {
    left: 54%; top: 45.5%;
}
gold montant[digits="1"] {
    left: 56%; top: 45.5%;
}

gold > picture[step="0"] {background-position: 0% 0%;}
gold > picture[step="1"] {background-position: 0% 12.5%;}
gold > picture[step="2"] {background-position: 0% 25%;}
gold > picture[step="3"] {background-position: 0% 37.5%;}
gold > picture[step="4"] {background-position: 0% 50%;}
gold > picture[step="5"] {background-position: 0% 62.5%;}
gold > picture[step="6"] {background-position: 0% 75%;}
gold > picture[step="7"] {background-position: 0% 87.5%;}

/**
* Level
**/
level {
	position: absolute;
	display: block;
	width: 21.3%; height: 77%;
	top: 29%; left: 42%;
}
level > picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 100% 1900%;
    background-image: url("../img/game/interface/ui/xp.png");
}
level plaque {
    position: absolute; display: block;
    width: 29%; height: 40%;
    left: 25%; top: -11%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../img/game/interface/ui/plaque.png);
}
level montant {
    color: #dddddd;
    width: 100%; height: 100%;
    text-align: center !important;
    top: 22%;
    font-size: 2vh; font-weight: bold;
    font-family: "Luna";
}
level > picture[step="18"] {background-position: 0% 0%;}
level > picture[step="17"] {background-position: 0% 5.556%;}
level > picture[step="16"] {background-position: 0% 11.111%;}
level > picture[step="15"] {background-position: 0% 16.667%;}
level > picture[step="14"] {background-position: 0% 22.222%;}
level > picture[step="13"] {background-position: 0% 27.778%;}
level > picture[step="12"] {background-position: 0% 33.333%;}
level > picture[step="11"] {background-position: 0% 38.889%;}
level > picture[step="10"] {background-position: 0% 44.444%;}
level > picture[step="9"] {background-position: 0% 50%;}
level > picture[step="8"] {background-position: 0% 55.556%;}
level > picture[step="7"] {background-position: 0% 61.080%;}
level > picture[step="6"] {background-position: 0% 66.657%;}
level > picture[step="5"] {background-position: 0% 72.212%;}
level > picture[step="4"] {background-position: 0% 77.758%;}
level > picture[step="3"] {background-position: 0% 83.313%;}
level > picture[step="2"] {background-position: 0% 88.869%;}
level > picture[step="1"] {background-position: 0% 94.424%;}
level > picture[step="0"] {background-position: 0% 99.97%;}

/**
* Buffs (Stickers)
**/
fiole.life buff {
    position: absolute;
    display: block;
    left: 18%; top: 44%;
    width: 27%; height: 27%;
}
fiole.life buff > picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 600% 100%;
}
fiole.life buff > picture[step="5"] {background-position: 0% 0%;}
fiole.life buff > picture[step="4"] {background-position: 20% 0%;}
fiole.life buff > picture[step="3"] {background-position: 40% 0%;}
fiole.life buff > picture[step="2"] {background-position: 60% 0%;}
fiole.life buff > picture[step="1"] {background-position: 80% 0%;}
fiole.life buff > picture[step="0"] {background-position: 100% 0%;}

fiole.life buff.sante > picture {
    background-image: url("../img/game/interface/ui/buff/sante.png");
}