
/**
* Fight
**/
.fight {
    display : block;
    position: absolute;
    width: 100%; height: 82%;
    left: 0; top: 18%;
}
.fight monster, .fight action {
    cursor: default;
    text-align: center;
}

.fight monstersContainer {
	position: relative;
	display: inline-block;
	width: 100%; height: 76%;
}
.fight monstersContainer monsters {
    color: #DDDDDD;
	position: absolute;
	display: block;
	width: 96%; height: 71%;
	left: 0%; top: 15%;
	text-align: center;
}
.fight monstersContainer monster {
	position: relative;
	display: inline-block;
	text-align: center;

	width: 14%; height: 48%;
	margin-left: 1.2%; margin-right: 1.2%;
	margin-top: 2%

	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fight monster name {
    position: absolute;
    display: block;
    width: 86%; height: auto;
    left: 6%; top: 17%;
    color: #000000;
    font-size: 3.5vh;
    font-family: "Priscilla";
}
.fight monster.actif {
    cursor: pointer;
}
.fight monster cible {
    position: absolute;
    display: none;
    width: 57%; height: 50%;
    top: 25%; left: 21%;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-image: url("../img/game/actions/cible.png");
}
.fight monster:not(.actif) cible {
    background-position: 100% 0%;
}
.fight monster.actif cible {
    background-position: 0% 0%;
    transform: scale(1.2);
}

.fight monster life {
    display: block;
    position: relative;
    width: 75%; height: 5%;
    top: -8%;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}
.fight monster life max {
    display: block;
    position: absolute;
    width: 100%; height: 100%;
    background-color: #000000;
}
.fight monster life current {
    display: block;
    position: absolute;
    width: 0%; height: 100%;
    background-color: #7b0909;
    transition: all 300ms;
}