/**
* Popup
**/
mask {
	position: absolute;
	width: 100%; height: 100%;
	background-color: #060606;
	opacity: 0.5;
	left: 0; top: 0;
}
.popup {
    display : block; position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0%;
    z-index: 10;
}
.popup div {
    width: 100%; height: 100%;
}
.popup contour {
    display: block; position: relative;
    width: 100%; height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../img/menu/popup/popup.png");
    background-size: 100% 100%;
}

.popup content {
    display: block; position: absolute;
    font-family: "Morgan";
    width: 73.5%; height: 75%;
    top: 13%; left: 12.5%;
}

.popup close {
    width: 2.5%; height: 4%;
    top: 15%; left: 82.2%;
}

.popup text {
    position: relative; display: block;
    width: auto; height: auto;
    text-align: center;
    font-family: "Morgan";
    font-size: 3vh;
    text-rendering: optimizeSpeed;
    word-spacing: 5px;
}
.popup text.title {
    font-weight: bold;
}
.popup text.clickable:hover {
    text-decoration: underline;
}