.fight monster level {
    color: black;
    top: 5%; left: 8%;
    width: 81%; height: 20%;
    text-align: right;
    font-family: "Priscilla";
    font-weight: bold;
    font-size: 2vh;
    padding-right: 5%; padding-top: 5%;
}

/**
* Monsters
**/
.fight monster.araignee {
    background-image: url("../img/game/monsters/araignee.png");
}
.fight monster.bandit {
    background-image: url("../img/game/monsters/bandit.png");
}
.fight monster.experience {
    background-image: url("../img/game/monsters/experience.png");
}
.fight monster.garde {
    background-image: url("../img/game/monsters/garde.png");
}
.fight monster.goule {
    background-image: url("../img/game/monsters/goule.png");
}
.fight monster.squelette {
    background-image: url("../img/game/monsters/squelette.png");
}
.fight monster.squelette[suffixe^="manchot"] {
    background-image: url("../img/game/monsters/squeletteManchot.png");
}
.fight monster.villageois {
    background-image: url("../img/game/monsters/villageois.png");
}

/**
* Boss
**/
.fight monster.roiAraignee {
    background-image: url("../img/game/monsters/roiAraignee.png");
}
.fight monster.liche {
    background-image: url("../img/game/monsters/liche.png");
}
.fight monster.necromancien {
    background-image: url("../img/game/monsters/necromancien.png");
}