
/**
* UI
**/
.ui {
    display : block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 18%;
}
.ui montant {
    cursor: default;
    text-align: justify;
}

/**
* fioles
**/
fiole {
	position: absolute;
	display: block;
}
fiole picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 1100% 100%;
}
fiole picture[step="0"] {background-position: 100% 0%;}
fiole picture[step="1"] {background-position: 90% 0%;}
fiole picture[step="2"] {background-position: 80% 0%;}
fiole picture[step="3"] {background-position: 70% 0%;}
fiole picture[step="4"] {background-position: 60% 0%;}
fiole picture[step="5"] {background-position: 50% 0%;}
fiole picture[step="6"] {background-position: 40% 0%;}
fiole picture[step="7"] {background-position: 30% 0%;}
fiole picture[step="8"] {background-position: 20% 0%;}
fiole picture[step="9"] {background-position: 10% 0%;}
fiole picture[step="10"] {background-position: 0% 0%;}

fiole montant {
    position: absolute;
    display: block;
    color: #DDDDDD;
    left: 16%; top: 53%;
    font-size: 1.7vh;
}

fiole.life {
	top: 12%; left: 1.8%;
	width: 13.4%; height: 100%;
}
fiole.life picture {
    background-image: url("../img/game/interface/ui/life.png");
}
fiole.life montant {
    transform: rotate(-16deg);
}
fiole.life montant[digits="3"] {
    left: 10.3%; top: 12%;
}
fiole.life montant[digits="2"] {
    left: 13%; top: 11%;
}
fiole.life montant[digits="1"] {
    left: 16%; top: 11%;
}

fiole.mana {
	top: 19%; left: 10.6%;
	width: 16%; height: 100%;
}
fiole.mana picture {
    background-image: url("../img/game/interface/ui/mana.png");
}
fiole.mana montant {
    transform: rotate(19deg);
}
fiole.mana montant[digits="3"] {
    left: 47.5%; top: 13%;
}
fiole.mana montant[digits="2"] {
    left: 50%; top: 13%;
}
fiole.mana montant[digits="1"] {
    left: 52%; top: 13%;
}

/**
* Argent
**/
gold {
	position: absolute;
	display: block;
	width: 10%; height: 100%;
	top: 0%; right: 0%;
}
gold picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 600% 100%;
    background-image: url("../img/game/interface/ui/bourse.png");
}
gold montant {
    position: absolute;
    display: block;
    color: black;
    left: 38%; top: 53%;
    font-size: 2.5vh; font-weight: bold;
}
gold picture[step="0"] {background-position: 0% 0%;}
gold picture[step="1"] {background-position: 20% 0%;}
gold picture[step="2"] {background-position: 40% 0%;}
gold picture[step="3"] {background-position: 60% 0%;}
gold picture[step="4"] {background-position: 80% 0%;}
gold picture[step="5"] {background-position: 100% 0%;}

/**
* Level
**/
level {
	position: absolute;
	display: block;
	width: 15%; height: 70%;
	top: 20%; left: 45%;
}
level picture {
    position: relative;
    display: block;
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    /* 100 * nombre de frames */
    background-size: 1100% 100%;
    background-image: url("../img/game/interface/ui/xp.png");
}
level montant {
    position: absolute;
    display: block;
    color: black;
    left: 25%; top: 0%;
    font-size: 2.5vh; font-weight: bold;
}
level picture[step="0"] {background-position: 0% 0%;}
level picture[step="1"] {background-position: 10% 0%;}
level picture[step="2"] {background-position: 20% 0%;}
level picture[step="3"] {background-position: 30% 0%;}
level picture[step="4"] {background-position: 40% 0%;}
level picture[step="5"] {background-position: 50% 0%;}
level picture[step="6"] {background-position: 60% 0%;}
level picture[step="7"] {background-position: 70% 0%;}
level picture[step="8"] {background-position: 80% 0%;}
level picture[step="9"] {background-position: 90% 0%;}
level picture[step="10"] {background-position: 100% 0%;}