<% var text = data.text %>
<% var monsters = data.monsters %>

<div>
	<monstersContainer>
		<monsters>
			<% for (var i in monsters) { %>
				<% var monster = monsters[i]; %>
				<monster id="<%=i%>" class="<%=monster.name%> <%=monster.type%>" suffixe="<%=monster.suffixe.namem%>">
					<cible></cible>
					<jauge class="life">
						<max></max>
						<current></current>
					</jauge>
					<jauge class="mana">
						<max></max>
						<current></current>
					</jauge>
					<name class="js-center"><%=monster.completeName()%></name>
					<anim></anim>
					<etats>
						<etat id="buff"></etat>
						<etat id="debuff"></etat>
					</etats>
					<miss></miss>
				</monster>
			<% } %>
		</monsters>
	</monstersContainer>
	<actionsContainer>
		<actions>
			<action id="0" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="1" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="2" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="3" state="new" class="droite">
				<name class="js-center"></name>
			</action>
			<action id="4" state="new" class="droite">
				<name class="js-center"></name>
			</action>
		</actions>
	</actionsContainer>
</div>