<% var text = data.text %>
<% var suffixes = data.suffixes %>

<div>
	<mask class="canClose"></mask>
	<contour class="canClose">
		<close class="canClose"></close>
		<content class="liste">
			<alphabet></alphabet>
			<propositions></propositions>
		</content>
		<content class="zoom">
			<retour><%=text.get("retour")%></retour>
			<entete>
				<titre></titre>
				<suffixe>
					<select>
						<% for (var i in suffixes) { %>
							<% var suffixe = suffixes[i]; %>
							<option id="<%=i%>-m" class="masculin" name="<%=i%>">
								<%=text.get(suffixe.namem)%>
							</option>
							<option id="<%=i%>-f" class="feminin" name="<%=i%>">
								<%=text.get(suffixe.namef)%>
							</option>
						<% } %>
					</select>
				</suffixe>
			</entete>
			<texte></texte>
			<infos></infos>
		</content>
	</contour>
</div>