<% var text = data.text %>

<div>
	<actionsContainer class="actionsContainer" id="gardeActions">
		<actions>
			<action id="0" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="1" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="2" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="3" state="new" class="droite">
				<name class="js-center"></name>
			</action>
			<action id="4" state="new" class="droite">
				<name class="js-center"></name>
			</action>
		</actions>
	</actionsContainer>
	<plateau>
		<legendes></legendes>
		<total></total>
		<pioche></pioche>
		<action id="miser" class="gauche">
			<name class="js-center">
				Miser </br><span id="mise"></span>po
			</name>
		</action>
	</plateau>
	<actionsContainer class="actionsContainer" id="playerActions">
		<actions>
			<action id="0" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="1" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="2" state="new" class="gauche">
				<name class="js-center"></name>
			</action>
			<action id="3" state="new" class="droite">
				<name class="js-center"></name>
			</action>
			<action id="4" state="new" class="droite">
				<name class="js-center"></name>
			</action>
		</actions>
	</actionsContainer>
</div>