<div class="menu-content h-center v-center">
   <div class="menu-item menu-error">
     <span hidden="true" class="alert alert-danger col-xs-12" id="menu-error-msg"></span>
   </div>
   <div class="menu-item menu-login">
     <input class="input-login form-control" id="login" type="text" autofocus="autofocus" autocomplete="on" title="Identifiant" placeholder="Identifiant">
   </div>
   <div class="menu-item menu-mdp">
     <input class="input-mdp form-control" id="mdp" type="password" autocomplete="off" title="Mot de passe" placeholder="Mot de passe">
   </div>
   <div class="menu-buttons col-xs-11 h-center">
      <span class="menu-button btn btn-default btn-connexion" id="connexion">Connexion</span>
      <span class="menu-button push-right btn btn-default btn-inscription" id="inscription">Inscription</span>
   </div>
</div>