<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  	<!-- Connexion -->
	<servlet>
	    <servlet-name>TrackServlet</servlet-name>
	    <servlet-class>servlet.track.TrackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrackServlet</servlet-name>
		<url-pattern>/connect</url-pattern>
	</servlet-mapping>
	
	<!-- Administration -->
    <!-- Check -->
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>servlet.admin.check.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/admin/check</url-pattern>
    </servlet-mapping>
    <!-- Clear -->
    <servlet>
        <servlet-name>ClearTrackServlet</servlet-name>
        <servlet-class>servlet.admin.clear.ClearTrackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClearTrackServlet</servlet-name>
        <url-pattern>/admin/clear</url-pattern>
    </servlet-mapping>
    <!-- Refresh -->
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>servlet.admin.refresh.RefreshServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/admin/refresh</url-pattern>
    </servlet-mapping>
    
    
    <filter>
        <filter-name>CheckMdp</filter-name>
        <filter-class>filter.admin.CheckMdp</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckMdp</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
	
	<!-- HoneyPot -->
	<servlet>
		<servlet-name>HoneyBotServlet</servlet-name>
		<servlet-class>servlet.honeybot.HoneyBotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HoneyBotServlet</servlet-name>
		<url-pattern>/honeybot</url-pattern>
	</servlet-mapping>

	<!-- Index -->
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>