<div class="combat">
		<% for(var index in data.monstres) { 
			var monstre = data.monstres[index];
		%>
			<div class="monstre" key='<%= index %>'>
				<span class="jauge" key='<%= index %>'>
					<span class="vieRestante" key='<%= index %>'></span>
				</span>
				<div class="monstreAction" key='<%= index %>'>
					<div class="hurt" key='<%= index %>'></div>
					<div class="monstreName" key='<%= index %>'>
						<%= monstre.getName() %>
					</div>
				</div>
			</div>
		<% } %>
</div>
<div class="choix">
	<% for(var i=0; i<6; i++) { %> 
		<div key='<%= i %>'>
			<div class="texte" key='<%= i %>'></div>
		</div>
	<% } %>
</div>
<div class="wait"></div>