<div class="content">
    <button type="button" class="close" aria-label="Close">X</button>
    <div class="texte">
		<p>Illustrations : Alicia Nesztler</p>
		<p>Texte : Steven Nesztler</p>
		<p>D&eacute;veloppement : Steven Nesztler</p>
		<br/>
		<p>Suivez-nous sur <a target='_blank' alt='Facebook' href='https://www.facebook.com/lesjeuxdebebel/'>Facebook</a> ou <a target='_blank' alt='Twitter' href='http://twitter.com/lesjeuxdebebel'>Twitter</a>.</p>
        <p>Soutenez-nous sur <a target='_blank' alt='Tipeee' href='https://www.tipeee.com/les-jeux-de-bebel/'>Tipeee</a>.</p>
        <p>Nos autres jeux sur <a target='_blank' alt='Kongregate' href='http://www.kongregate.com/games/JeuxBebel'>Kongregate</a>.</p>
	</div>
</div>