<div class="header">
	<div class="left">
		<div class="jauge">
			<span class="vieRestante" id="vieHero"></span>
		</div>
		<div class="argent content">
			<div class="piece"></div>
			<div class="texte" id="argent"></div>
		</div>
	</div>
	<div class="center">
		<div class="content level">
			<%= data.text.get("lvl")%> 
			<span id="niveau"></span>
		</div>
		<span class="jauge xp">
			<span class="xpRestant" id="xpHero"></span>
		</span>
	</div>
	<div class="right">
		<span class="jauge">
			<span class="magieRestante" id="magieHero"></span>
		</span>
		<div class="sound"></div>
	</div>
</div>
<div id="corps" class="corps">
</div>
<div id="glossaire" class="glossaire"></div>
<div id="inventaire" class="inventaire"></div>