<div class="content">
	<div class="texte">
		<p class="titre"><%= data.text.get(data.name) %></p>
		<% for(var texte in data.textes) { %>
			<p><%= data.text.get(data.textes[texte]) %></p>
		<% } %>
		
		<% if (data.type == "monstre") { %>
			<p class="stats"><%= data.text.get("vie")%> : [<%= data.vie[0] %>-<%= data.vie[1] %>]</p>
			<p class="stats"><%= data.text.get("attack")%> : [<%= data.attaque[0] %>-<%= data.attaque[1] %>]</p>
			<p class="stats"><%= data.text.get("defense")%> : [<%= data.defense[0] %>-<%= data.defense[1] %>]</p>
			<p class="stats"><%= data.text.get("experienceGain")%> : [<%= data.xp[0] %>-<%= data.xp[1] %>]</p>
			<p class="stats"><%= data.text.get("argentGain")%> : [<%= data.argent[0] %>-<%= data.argent[1] %>]</p>
		<% } else { %>
			<p class="stats"><%= data.text.get("lifeGain")%> : [<%= data.vie[0] %>-<%= data.vie[1] %>]</p>
			<p class="stats"><%= data.text.get("attackGain")%> : [<%= data.attaque[0] %>-<%= data.attaque[1] %>]</p>
			<p class="stats"><%= data.text.get("defenseGain")%> : [<%= data.defense[0] %>-<%= data.defense[1] %>]</p>
		<% } %>
	</div>
</div>
