<div class="content">
	<div class="texte">
		<p class="titre"><%= data.name %></p>
		<% for(var texte in data.textes) { %>
			<p><%= data.textes[texte] %></p>
		<% } %>
		
		<% if (data.type == "monstre") { %>
			<p class="stats">Vie : [<%= data.vie[0] %>-<%= data.vie[1] %>]</p>
			<p class="stats">Attaque : [<%= data.attaque[0] %>-<%= data.attaque[1] %>]</p>
			<p class="stats">D&eacute;fense : [<%= data.defense[0] %>-<%= data.defense[1] %>]</p>
			<p class="stats">Gain d'exp&eacute;rience : [<%= data.xp[0] %>-<%= data.xp[1] %>]</p>
			<p class="stats">Gain d'argent : [<%= data.argent[0] %>-<%= data.argent[1] %>]</p>
		<% } else { %>
			<p class="stats">Gain de vie : [<%= data.vie[0] %>-<%= data.vie[1] %>]</p>
			<p class="stats">Gain d'attaque : [<%= data.attaque[0] %>-<%= data.attaque[1] %>]</p>
			<p class="stats">Gain de d&eacute;fense : [<%= data.defense[0] %>-<%= data.defense[1] %>]</p>
		<% } %>
	</div>
</div>
