<div class="mainPage scene">
	<div class="username text hidden"></div>
	<div class="logo">
		<img alt="Bebel" src="app/img/bebel.png" />
		<ul class="menu">
			<li id="new"><%= data.text.get("newgame")%></li>
			<li id="continue"><%= data.text.get("continue")%></li>
			<li id="option"><%= data.text.get("option")%></li>
			<li id="credits"><%= data.text.get("credits")%></li>
			<li class="login hidden" id="login">Login</li>
		</ul>
	</div>
	<div class="copyright">
		<p><%= data.text.get("copyright-licence")%> <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons</a></p>
		<p><%= data.text.get("copyright-donot")%></p>
	</div>
</div>
<div id="creditPopup" class="popup">
</div>
<div id="option-popup" class="popup">
</div>
<div id="game" class="game scene">
</div>
