<div class="mainPage">
	<div class="logo">
		<img alt="Bebel" src="app/img/bebel.png" />
		<ul class="menu">
			<li id="new">Nouveau periple</li>
			<li id="continue">Continuer</li>
			<li id="credits">Credits</li>
			<li id="partenaires">Partenaires</li>
		</ul>
	</div>
	<div class="copyright">
		<p>Cette oeuvre est sous license <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons</a></p>
		<p>Merci de ne pas la modifier ou la partager de fa&ccedil;on commerciale.</p>
	</div>
</div>
<div id="creditPopup" class="popup">
</div>
<div id="partenairesPopup" class="popup">
</div>
<div id="game" class="game">
</div>
