<% var text = data.text %>

<div>
	<mask></mask>
	<contour>
		<content id="fichiers">
			<close class="canClose"></close>
			<wrapper>
				<files></files>
			</wrapper>
		</content>
		<content id="textes">
			<close class="canClose"></close>
			<langages>
				<select id="sources">
					<option name="fr"><%=text.get("french")%></option>
					<option name="en"><%=text.get("english")%></option>
					<option name="eo"><%=text.get("esperanto")%></option>
				</select>
				<select id="cibles">
					<option name="fr"><%=text.get("french")%></option>
					<option name="en"><%=text.get("english")%></option>
					<option name="eo"><%=text.get("esperanto")%></option>
				</select>
			</langages>
			<wrapper>
				<textes></textes>
			</wrapper>
			<boutons>
				<bouton id="send"><%=text.get("traduction-submit")%></bouton>
			</boutons>
		</content>
	</contour>
</div>